<!--DATOS-->
<section class="student-info">
  <h2>Datos del Estudiante</h2>
  <p><strong>Nombre:</strong> {{ student.nombre }}</p>
  <p><strong>Sección:</strong> {{ student.seccion }}</p>
  <p><strong>Grado:</strong> {{ student.grado }}</p>
  <p><strong>Fecha de nacimiento:</strong> {{ student.fechaNacimiento }}</p>
</section>

<!--BÚSQUEDA Y BOTONES-->
<div class="actions-bar">
  <input
    type="text"
    placeholder="Buscar incidencia..."
    [(ngModel)]="searchTerm"
    (input)="filtrarIncidencias()" />

  <div class="buttons">
    <button (click)="nuevaIncidencia()">Nueva Incidencia</button>
    <button (click)="volver()">Volver</button>
  </div>
</div>

<!--TABLA-->
<table class="incidencias-table">
  <thead>
  <tr>
    <th>Nro</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let incidencia of incidenciasFiltradas; index as i">
    <td>{{ i + 1 }}</td>
    <td>{{ incidencia.nombre }}</td>
    <td>{{ incidencia.descripcion }}</td>
    <td>
      <button (click)="editarIncidencia(incidencia.id)">Editar</button>
      <button (click)="eliminarIncidencia(incidencia.id)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>

<!--VENTANA CRUD-->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <h3>{{ isEditing ? 'Editar Incidencia' : 'Nueva Incidencia' }}</h3>

    <label>
      Nombre:
      <input [(ngModel)]="incidenciaForm.nombre" placeholder="Nombre de la incidencia" />
    </label>

    <label>
      Descripción:
      <input class="descripcion-input" [(ngModel)]="incidenciaForm.descripcion" placeholder="Descripción de la incidencia" />
    </label>

    <div class="modal-actions">
      <button (click)="guardarIncidencia()">
        {{ isEditing ? 'Actualizar' : 'Guardar' }}
      </button>
      <button (click)="cerrarModal()">Cancelar</button>
    </div>
  </div>
</div>
